.cardsList {
	margin-top: 24px;
	display: flex;
	flex-direction: column;
	gap: 32px;
	padding-bottom: 8px;
}
.cardContainer {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 200px;
	max-width: 464px;
	border-radius: 16px;
	background: var(--Color-White, #fff);
	box-shadow:
		0 4px 4px 0 rgba(0, 0, 0, 0.25),
		0 4px 8px -2px rgba(0, 0, 0, 0.1),
		0 0 20px 10px rgba(0, 108, 228, 0.1) inset;
}
.infoContainer {
	flex: 0 0 200px;
	padding: 12px 0 12px 12px;
}
.numberContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border: 3px solid #006ce499;
	border-radius: 50%;
	color: #006ce499;
	font-size: 20px;
}
.descriptionContainer {
	margin-top: 20px;
	color: #64666b;
	font-family: 'Onest', 'HelveticaNeue', Helvetica, Arial, sans-serif;
	/*font-size: 16px;*/
	font-size: 3.64vw;
	font-style: normal;
	font-weight: 400;
	line-height: 120%; /* 19.2px */
	letter-spacing: -0.408px;
}
/*
.imageContainer {
    flex: 0 0 auto;
    overflow: hidden;
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}*/
.imageContainer {
	width: 194px;
	height: 100%;
	background-repeat: no-repeat;
	/*background-size: cover;*/
}
@media (min-width: 600px) {
	.cardsList {
		justify-content: space-between;
		flex-direction: row;
		gap: 24px;
	}
	.cardContainer {
		flex: 0 0 60%;
		display: flex;
		justify-content: space-between;
		height: 250px;
		max-width: 464px;
		border-radius: 16px;
		background: var(--Color-White, #fff);
	}
	.imageContainer {
		flex: 0 0 40%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.descriptionContainer {
		color: var(--Color-Grey-400, #64666B);
		font-size: 24px;
		font-style: normal;
		font-weight: 400;
		line-height: 120%; /* 28.8px */
		letter-spacing: -0.702px;
	}
}
