.container {
    width: 100%;
    min-height: 300px;
    background-repeat: no-repeat ;
    background-position: center;
    background-size: cover;
    background-color: lightgray;
    padding: 0 10px 32px 25px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}
.title {
    color: var(--Color-White, #FFF);
    /* Text/Heading/H1 */
    font-family: "HelveticaNeue",sans-serif;
    /*font-size: 32px;*/
    font-size: 7.3vw;
    font-style: normal;
    font-weight: 700;
    line-height: 103%; /* 32.96px */
}