.button {
	width: 100%;
	height: 100%;
	border-radius: 24px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
	color: #434447;
	text-align: center;
	/* Text/Button text */
	font-family: var(--Font-Secondary), sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px; /* 137.5% */
	letter-spacing: -0.408px;
}
.button.yellow {
	color: var(--Color-Grey-500, #434447);
	background-color: var(--Color-Yellow, #f1d246);
	&:hover {
		color: #434447;
		background: #ddb70b;
	}
	&:disabled {
		background: #aeb0b4;
		box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
	}
}
.button.blue {
	color: var(--Color-White, #ffff);
	background-color: var(--Color-Blue, #118df0);
	&:hover {
		color: var(--Color-Grey-100);
		background: #118df0;
	}
	&:disabled {
		background: #aeb0b4;
		box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
	}
}
@media (min-width: 600px) {
	.button {
		font-size: 20px;
		font-weight: 500;
		line-height: 22px; /* 110% */
		letter-spacing: -0.408px;
	}
}
