.accordionContainer {
	margin-top: 18px;
	width: 100%;
}
.container {
	width: 100%;
	text-align: start;
}
.title {
	color: var(--Color-Blue, #006CE4);
	/* Text/Heading/H1 */
	font-family:var(--Font-Primary),sans-serif;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: 103%; /* 32.96px */
}
.description {
	color: var(--Color-Grey-400, #64666B);

	/* Text/Secondary/16 */
	font-family: var(--Font-Secondary),sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%; /* 19.2px */
	letter-spacing: -0.408px;
}
@media (min-width: 600px) {
	.accordionContainer {
		margin-top: 40px;
	}
	.container {
		width: 100%;
		text-align: center;
	}
	.title {
		font-size: 52px;
		font-weight: 700;
		line-height: 103%; /* 53.56px */
	}
	.description {
		color: var(--Color-Grey-500, #434447);
		font-size: 32px;
		font-weight: 400;
		line-height: 120%; /* 38.4px */
		letter-spacing: -0.408px;
	}
}