.container {
    width: 100%;
    display: flex;
    height: 723px;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 16px;
    border: 2px solid rgba(0, 108, 228, 0.80);
    background: var(--Color-White, #FFF);
    overflow: hidden;
    box-shadow: 0 0 20px 3px rgba(0, 108, 228, 0.15) inset, 0 2px 4px -2px rgba(0, 0, 0, 0.06), 0 4px 8px -2px rgba(0, 0, 0, 0.10);
}
.imageContainer {
    height: 270px;
}
.buttonContainer {
    width: 100%;
    padding: 0 16px 40px 16px;
    display: flex;
    align-items: flex-end;
    height: 453px;
}
.button {
    width: 100%;
    height: 50px;
}
.infoWindow {
    width: 360px;
    /*height: 388px;*/
    position: absolute;
    top: 30%;
    display: inline-flex;
    padding: 32px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    border-radius: 16px;
    border: 2px solid  #F1D246;
    background: var(--Color-White, #FFF);
}
.title {
    color: #434447;
    text-align: center;
    font-family: "HelveticaNeue","Onest",sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 103%; /* 22.66px */
}
.infoList {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.infoElement {
    display: flex;
    gap: 4px;
    align-items: center;
    color: #64666B;
    font-family: "Onest",sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 21.6px */
    letter-spacing: -0.41px;
}