@media (min-width: 600px) {
    .brandsContainer {
        width: 100%;
    }
    .brandsRow {
        display: flex;
        justify-content: space-between;
        gap: 5px;
        margin-bottom: 24px;
    }
    .brandsItem {
        flex: 0 1 auto;
        max-width: 100%;
    }

    .brandsItem img {
        width: 100%;
        height: auto;
        max-width: 160px;
        object-fit: contain;
    }
    .title {
        margin-bottom: 12px;
        font-family:var(--Font-Primary),sans-serif;
        font-size: 40px;
        font-weight: 700;
        line-height: 103%; /* 41.2px */
        color: var(--Color-Blue, #006CE4);
    }
    .description {
        font-size: 32px;
        margin-bottom: 24px;
        color: var(--Color-Grey-500, #434447);
        font-family:var(--Font-Secondary),sans-serif;
        font-weight: 400;
        line-height: 120%; /* 38.4px */
        letter-spacing: -0.41px;
    }
}