/*
.calendarContainer {
  width: 100%;
}
.calendarTile--active {
  background-color:#F1D246 !important;
  color:#F1D246 !important;
}
.dayCalendarContainer {
  position: absolute;
  z-index: 5;
}*/
.calendar {
	background-color: white;
	border-radius: 12px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Навигация */
.navigation {
	font-weight: bold;
	color: #888a90;
	/* Text/Secondary/16 */
	font-family: 'Onest', sans-serif;
	font-size: 16px;
	font-style: normal;
	line-height: 120%; /* 19.2px */
	letter-spacing: -0.408px;
}

/* Кнопки навигации */
.navigation button {
	/*background: none;*/
	border: none;
	font-size: 16px;
	cursor: pointer;
}

/* Дни */
.tile {
	padding: 10px;
	text-align: center;
	border-radius: 6px;
	transition: background-color 0.3s;
}

.tile:hover {
	background-color: #f1d246;
}

/* Текущий день */
.today {
	background-color: #f1d246;
	color: #ffffff;
}

/* Активный день (выбранная дата) */
.active {
	background-color: #007bff;
	color: white;
	border-radius: 6px;
}
