.container {
    padding: 0 16px;
    overflow: hidden;
}
.categorySliderContainer {
    padding-top: 12px;
}
@media (min-width: 600px) {
    .blueBackground {
        position: relative;
        background: var(--Color-Blue, #006CE4);
    }
}
