.cardsList {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.mainButton {
    margin-top: 32px;
    width: 100%;
    height: 42px;
}
.cardContainer {
    width: 100%;
    height: 190px;
    text-align: end;
    padding: 27px 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.contentContainer {
    width: 63%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.contentContainer.center {
    width: 100%;
}

.cardContainer.center {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 22px 0;
}

.cardContainer.right {
    display: flex;
    justify-content: flex-end;

}

.cardContainer.left {
    display: flex;
    justify-content: flex-start;

}

.inputContainer {
    display: flex;
    gap: 7px;
    height: 30px;

    & input {
        width: 140px;
        border-radius: 30px;
        padding: 0 24px;
        border: 1px solid var(--Color-Grey-300, #888A90);
        background: #EAE8E8;
        color: var(--Color-Grey-500, #434447);
        font-family: var(--Font-Secondary), sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 103%; /* 16.48px */
        letter-spacing: -0.408px;
    }

    & button {
        width: 83px;
    }
}

.titleContainer {
    color: var(--Color-White, #FFF);
    text-align: center;
    font-family: var(--Font-Primary), sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 103%; /* 20.6px */
}

.buttonContainer {
    display: flex;
    height: 40px;
}

.description {
    width: 100%;
    color: var(--Color-Grey-400, #64666B);
    text-align: center;
    /* Text/Secondary/16 */
    font-family: var(--Font-Primary), sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
    letter-spacing: -0.408px;
}

.inputContainer.center {
    justify-content: center;

    & input {
        width: 40%;
    }
}

.buttonContainer.center {
    justify-content: center;

    & button {
        width: 63%;
    }
}
