
.wrapper {
    border-radius: 16px;
    width: 408px;
    height: 200px;
}
.container {
    padding: 16px 16px 16px 24px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../../../../assets/images/refferal_banner.jpg");
    border-radius: 16px;
    box-shadow:
            0 4px 4px rgba(0, 0, 0, 0.25),
            0 4px 8px -2px rgba(0, 0, 0, 0.10),
            inset 0 0 20px 5px rgba(0, 108, 228, 0.10);
}
.title {
    width: 201px;
    overflow: hidden;
    color: var(--Color-Blue, #006CE4);
    font-family: "Onest", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 103%; /* 24.72px */
    letter-spacing: -0.408px;
}
.description {
    width: 201px;
    margin-top: 8px;
    color: var(--Color-White, #FFF);
    font-family: "Onest", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 16.8px */
    letter-spacing: -0.408px;
    overflow: hidden;
}
.button {
    margin-top: 26px;
    width: 141px;
    height: 42px;
}