.singleValueContainer {
    border-radius: 30px;
    border: 1px solid var(--Color-Grey-300, #888A90);
    background: var(--Color-Grey-100, #D7D7D9);
}
.placeholder {
    & svg {
        margin-right: 12px;
    }
}