.button {
	display: flex;
	gap: 8px;
	align-items: center;
}
.text {
	cursor: pointer;
	color: var(--Color-Blue, #006ce4);
	/* Text/Secondary/18 */
	font-family: var(--Font-Secondary), sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%; /* 21.6px */
	letter-spacing: -0.41px;
}
.icon {
	display: flex;
}
