.container {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	width: 82px;
	height: 32px;
	padding: 8px 16px 8px 17px;
	align-items: center;
	gap: 8px;
	flex-shrink: 0;
	border-radius: 16px 0 24px 0;
	background: #46baf1;
	backdrop-filter: blur(10px);
}
.icon {
}
.top {
	color: var(--Color-White, #fff);
	font-family: 'Onest', sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%; /* 14.4px */
	letter-spacing: -0.408px;
}
