.section {
    background: var(--Color-Blue);
    padding: 40px 16px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.containerTitle {
    width: 100%;
    text-align: center;
    color: var(--Color-White);
    font-family: "HelveticaNeue","Onest",sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 103%; /* 22.66px */
    & .domain {
        font-size: 32px;
        font-weight: 700;
    }
}
.containerTitleSections {
    width: 100%;
    color: var(--Color-White);
    font-family: "HelveticaNeue","Onest",sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 103%; /* 22.66px */
}
.socialIconsList {
    display: flex;
    justify-content: space-between;
}
.sectionInfo {
    background: var(--Color-Blue);
}
.infoContainer {
    color: #AEB0B4;
    /* Text/Secondary/14 */
    font-family: Onest,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 16.8px */
    letter-spacing: -0.41px;
    & .row {
        display: flex;
        justify-content: space-between;
        padding-bottom: 12px;
    }
    & .rowNoJustify {
        display: flex;
        padding-bottom: 12px;
        gap: 32px;
    }
}
.bottomContainer {
    color:#AEB0B4;
    text-align: center;
    /* Text/Secondary/12 */
    font-family: Onest,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 14.4px */
    letter-spacing: -0.408px;
}
.copyright {
    display: flex;
    height: 13px;
    align-items: center;
    margin-bottom: 10px;
    gap: 4px;
    & .text {
      height: 13px;
    }

}
.sectionsItemsList {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    color:#AEB0B4;
    font-family: Onest,sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 21.6px */
    letter-spacing: -0.408px;
}
.sectionGrey {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    color: #64666B;
    text-align: center;
    font-family: Onest,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 14.4px */
    letter-spacing: -0.24px;
}
