.logoContainer {
}
.logoContainer a {
	display: flex;
	align-items: center;
	gap: 3px;
	color: var(--Color-White, #fff);
	text-align: center;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
}
@media (min-width: 600px) {
	.logoContainer a {
		gap: 12px;
		color: var(--Color-White, #fff);
		font-family: var(--Font-Secondary), sans-serif;
		font-size: 32px;
		font-weight: 700;
		line-height: 120%; /* 38.4px */
		&:hover {
			color: var(--Color-Grey-100, #fff);
		}
	}
}
