/* Общие стили для всех изображений */

.swiperCarousel {
	padding: 20px 0;
	display: flex;
	align-items: center;
	outline: none;
	-webkit-tap-highlight-color: transparent;
}

.swiperCarousel .carouselImage {
	width: 60px;
	height: 60px;
	object-fit: cover;
	/*border-radius: 16px;*/
	overflow: hidden;
	-webkit-tap-highlight-color: transparent;
	transition: all 0.3s ease; /* плавное увеличение */
}

/* Для центрального активного слайда */
.swiperCarousel .swiper-slide-active .carouselImage {
	transform: matrix(1.35, 0, 0, 1.35, 0, 0);
}
.swiper-category   {
	outline: none;
	-webkit-tap-highlight-color: transparent;
}
@media (min-width: 600px) {

}