.container {
    width: 100%;
    /*margin-top: 32px;*/
    padding-left: 16px;
}
.slideButton {
    padding:0  16px;
    display: flex;
    height: 42px;
    gap: 4px;
    border-radius: 24px;
    border: 1px solid #006CE4;
    white-space: nowrap;
    text-align: center;
    /* Text/Button text */
    font-family:var(--Font-Secondary),sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
    letter-spacing: -0.408px;
    outline: none;
    -webkit-tap-highlight-color: transparent;

    &.active {
        background-color: var(--Color-Blue);
    }
    &.active .icon,
    &.active .name {
        color:#FFFFFF /*var(--Color-White)*/;
    }
}
.icon,
.name {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: var(--Color-Blue, #006CE4);
}

