/* Общие стили для контейнера точек */
.sliderHorizontal {
	width: 100%;
	padding-bottom: 20px;
}
.sliderHorizontal .swiper-pagination {
	position: absolute;
	bottom: 0; /* Располагаем точки внизу */
	display: flex;
	justify-content: center;
	gap: 8px; /* Отступ между точками */
	z-index: 40;
}

/* Обычные точки */
.sliderHorizontal .swiper-pagination-bullet {
	width: 8px;
	height: 8px;
	fill: #d7d7d9;
	transition: all 0.3s ease;
}

/* Активная точка - делаем её шире */
.sliderHorizontal .swiper-pagination-bullet-active {
	width: 32px;
	height: 8px;
	border-radius: 12px;
	background: #888a90;
}
